[submodule "src/libs/suit"]
	path = src/libs/suit
	url = https://github.com/vrld/suit.git
[submodule "middleclass"]
	path = middleclass
	url = https://github.com/kikito/middleclass.git
[submodule "src/libs/middleclass"]
	path = src/libs/middleclass
	url = https://github.com/kikito/middleclass.git
